/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; --lh: 1.4rem;
    line-height: var(--lh); overflow-x: hidden;}
body { margin: 0; font-family: 'roboto', helvetica,sans-serif; }
