.example-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    
  }
  mat-sidenav {
      background: rgb(241, 241, 241);
      border: none !important;
  }

  mat-sidenav-content{
      background-color: white;
      padding: 3% 10% 0% 10%;
      /* padding-top: 5%; */
  }

  mat-icon{
    color: rgba(0, 0, 0, 0.54);
  }

  .logo{
      height: 24px;
  }



  