<div class="row">
  <div class="col-5 mx-auto text-center mt-5">

    <mat-card class="shadow rounded">

      <div class="topdes">
      </div>

      <img src="../../assets/twitterlogo.png" alt="Twitter Logo" class="Twitlogo">
      <h3 class="mt-4">What's happpening?</h3>
      <h6 class="mb-4">Tweet directly from here itself!</h6>

      <form [formGroup]="tweetForm" (ngSubmit)="onSubmit()">
        <textarea rows="3" matInput placeholder="Status" formControlName="tweetdata" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.tweetdata.errors }"></textarea>
        <br>
        <div class="form-group">
          <button [disabled]="loading" class="btn bold">TWEET</button>
          <img *ngIf="loading == true" src="../../assets/loader.svg" class="loader mx-auto" />
        </div>
      </form>
      
    </mat-card>

  </div>
</div>