
.Twitlogo{
    height: 80px;
    width: auto;
    border-radius: 50%;
    margin-top: -50px;
}

.topdes{
    height: 100px;
    background-color: #21D4FD;
    background-image: linear-gradient(19deg, #43BEF4 0%, rgb(108, 140, 243) 100%);
    border-radius: 5px;
}

.btn{
    border-radius: 22px;
    background-color: #21D4FD;
    background-image: linear-gradient(19deg, #43BEF4 0%, rgb(30, 61, 163) 100%);
    color: white;
    width: 40%;
}

.loader{
    height: 100px;
    margin: auto;
  }